@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed');


nav, a {
    font-size: 48px;
    text-align: center;
    text-decoration: none;
    list-style-type: none;
}

.stopwatch {
	text-align: center;
    font-size: 32px;
}

.results {
    font-size: 28px;
    text-align: center;
}